/*
background: linear-gradient(90deg, rgba(254,169,16,1) 33%, rgba(252,0,0,1) 100%); 
#ff5858 #f09819
#f12711 #f5af19 
linear-gradient(87.96deg,#fb0234 34.05%,#ff8f01 99.97%); Globoplay Gradient
background INDEX: #232123
background INPUT: #D9D9D9  
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;

}

body {	
	width: 100%;
	background: #232123;
}

/* START - HEADER */

header {
	display:flex;
	justify-content: row;
	justify-content: center;
	align-items: center;
	margin:80px;
	}

span {
	background: #D9D9D9;
	padding: 20px;
	border-radius:20px;
}

h1 {
	background: linear-gradient(87.96deg,#fb0234 34.05%,#ff8f01 99.97%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 20px;
}

/* END - HEADER */

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

li { list-style-type: none}

li * {
}

.list-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.task-item {
	display:flex;
	align-items: center;

	background: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	width: 1000px;
	height: 40px;
	margin: 10px;
	border-radius: 10px;
}

.task-item .task-id {
	flex: 8%;
	display: flex;
	align-items: center;
	height:40px;
	border-right: 4px solid #232123;
	}

.task-title {
	margin-left: 2px;
}

/*REFATORAR*/
.calculando-flex {
	flex: 92%;
}

.task-item img {
	width: 30px;
	height: 30px;
	margin:3px;
}

.task-item img:hover {
	cursor: pointer;
	background: linear-gradient(87.96deg,#fb0234 34.05%,#ff8f01 99.97%);
	border-radius: 10px;
}

/*START - Condition: No Tasks*/

.no-tasks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(87.96deg,#fb0234 34.05%,#ff8f01 99.97%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.no-tasks p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: italic;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding: 20px;

}

/*END - Condition: No Tasks*/

/*START - New Tasks*/
.new-task {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.new-task input[type=text] {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	width: 1000px;
	height: 50px;
	border-radius: 10px;
}

.new-task input[type=text]:focus {
	outline: none;
}

.new-task input[type=submit] {
	background: #D9D9D9;    font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	width: 150px;
	height: 50px;
	margin:10px;
	border-radius: 10px;
}
.new-task input[type=submit]:hover {
	background: linear-gradient(87.96deg,#fb0234 34.05%,#ff8f01 99.97%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*END- New Tasks*/
